.page {
    margin: 10px;

}

h2 {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 2px solid rgb(54, 187, 147);
}

th,
td {
    padding: 10px;
    border: 1px;
}

th {
    background-color: rgb(54, 187, 147);
    color: white;
}


id {
    color: grey;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

button {
    background-color: rgb(54, 187, 147);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.currentPage {

    padding: 10px;
    margin: 0 20px;
    background-color: rgb(54, 187, 147);
    color: white;
    border-radius: 5px;

}


th.title_box {
    text-align: left;
    
}

tr, td {
    border-bottom: 1px solid #ddd;
  }